@use '/src/sass/abstracts/variables' as v;
@use '/src/sass/layout/flex-boxes' as box;

.generic-header {
    &__container {
        @include box.flex-column-center;
        top: 7%;
        position: relative;
        // background-color: cadetblue;
    }

    &__header {
        font-size: 10em;
        font-family: v.$primary-font;
        color: v.$text-color-light;
        font-weight: 300;
        font-style: italic;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: 15px;
        margin: 0;
    }
}






