@use '/src/sass/abstracts/variables' as v;


.about-header__container{
    width: 60%;
    /* height: 100%; */
    padding-top: 2em;
    margin-top: 12%;
    background-color: cadetblue;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align:right;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .header-button__container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    position: relative;
} */

.about-header__header{
    font-size: 13em;
    font-family: v.$primary-font;
    color: v.$text-color-light;
    font-weight: 300;
    font-style: italic;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 15px;
    margin: 0;
}

/* .about-header__header > h1 {
    margin: 0;
} */
