@mixin mechanic-rotate {
    animation: rotate 13s infinite;
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
}

@mixin mechanic-up {
  animation: up 66s infinite;
@keyframes up{
    0%, 100%{
      top: -50px;
    }
    70%{
      top: 200px;
    }
    }
}

@mixin gradient-animation {
  animation: color 40s ease infinite;
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}