@use '/src/sass/abstracts/variables' as v;
@use '/src/sass/abstracts/mechanics' as mech;


@mixin orb-left{
    position: absolute;
    left: 13%;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-image: v.$deep-violet-orb-s;
    filter: blur(5px);
    @include mech.mechanic-rotate;
    @include mech.mechanic-up;
}

@mixin orb-right{
    position: absolute;
    right: 3%;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-image: v.$deep-violet-orb-s;
    filter: blur(5px);
    @include mech.mechanic-rotate;
    @include mech.mechanic-up;
}

