@use '/src/sass/abstracts/variables' as v;
@use '/src/sass/components/mirror/mirror-container' as container;
@use '/src/sass/components/mirror/mirror-effect' as effect;
@use '/src/sass/layout/flex-boxes' as box;


.inner-description__container{
  @include container.card-container;
  margin-left: 3%;
  // background-color: aliceblue
}

.card{
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-end;
    // text-align: center;
    @include effect.mirror-effect;
    margin-top: 45vh;
    padding: 3% 13%;
    height: 33vh;
    width: 100%;
    overflow: hidden;
    // background-color: bisque;
  }

  &__name {
    // background-color: aquamarine;
    margin-top: 1em;
    width: 100%;
    font-family: v.$primary-font;
    color: v.$secondary-color;
  }
  &__h1{
    font-size: 3.5vw;
    font-weight: 600;
    margin: 0;
    // padding: 0;
    // letter-spacing: 2px;
  }
  &__h2{
    font-size: 2vw;
    font-weight: 600;
    margin: 0;
    // padding: 0;
    letter-spacing: 2px;
    // text-align: end;
  }

  &__bottom-section{
    // @include effect.mirror-effect;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: aliceblue;
    // border-radius: 20px;
    width: 100%;
    // padding: 5% 5%;
  }

  &__logo{
    font-size: 42px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    // margin-bottom: 1em;
    font-family: v.$paragraph-font;
    color: v.$secondary-color;
  }

  &__p{
    font-size: 1.3vw;
    font-weight: 500;
  }

  &__date{
    font-size: 1.3vw;
    font-weight: 500;
  }
}

  



  




  // @media screen and (max-width: 779px) {
  //   .inner-description__container{
  //     width: 80%;
  //   }
  //   .name-description__container{
  //     margin: 4em 0;
  //     height: 200px;
  //   }
  //   .name > h1{
  //     font-size: 2em;
  //     margin-top: 1em;
  //   }
  //   .description > p{
  //     font-size: 1em;
  //     font-weight: 500;
  //   }
  // }
  

  // @media screen and (min-width: 780px) and (max-width: 991px) {
  //   .inner-description__container{
  //     width: 60%;
  //     height: 100vh;

  //   }
  //   .name-description__container{
  //     height: 300px;
  //     margin-top: 25vh;
  //   }
  //   .name {
  //     margin-top: 1.5em;
  //   }
  //   .description{
  //     background-color: azure;
  //     width: 100%;
  //   }
  // }
  

  // @media screen and (min-width: 992px) {
  //   .inner-description__container{
  //     background-color:darkgrey;
  //     height: 35vh;
  //   }
  //   .name-description__container{
  //     height: 35vh;
  //   }
  // }