@use '/src/sass/abstracts/variables' as v;
@use '/src/sass/components/mirror/mirror-container' as container;
@use '/src/sass/components/mirror/mirror-effect' as effect;
@use '/src/sass/layout/flex-boxes' as box;


.inner-description__container{
  @include container.mirror-container;
  margin-left: 3%;
}

.name-description__container{
  @include box.flex-column-center;
  @include effect.mirror-effect;
  margin-top: 45vh;
  height: 33vh;
  width: 100%;
  overflow: hidden;
}
.name {
  background-color: aquamarine;
  // width: 100%;
}
  

  .name > h1{
    font-size: 3.5em;
    font-family: v.$primary-font;
    letter-spacing: 2px;
    color: v.$secondary-color;
    font-weight: bold;
    margin: 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 1em;
    color: v.$secondary-color;
  }

  .description > p{
    font-family: v.$paragraph-font;
    font-size: 1.2em;
    font-weight: 600;
  }


  // @media screen and (max-width: 779px) {
  //   .inner-description__container{
  //     width: 80%;
  //   }
  //   .name-description__container{
  //     margin: 4em 0;
  //     height: 200px;
  //   }
  //   .name > h1{
  //     font-size: 2em;
  //     margin-top: 1em;
  //   }
  //   .description > p{
  //     font-size: 1em;
  //     font-weight: 500;
  //   }
  // }
  

  // @media screen and (min-width: 780px) and (max-width: 991px) {
  //   .inner-description__container{
  //     width: 60%;
  //     height: 100vh;

  //   }
  //   .name-description__container{
  //     height: 300px;
  //     margin-top: 25vh;
  //   }
  //   .name {
  //     margin-top: 1.5em;
  //   }
  //   .description{
  //     background-color: azure;
  //     width: 100%;
  //   }
  // }
  

  // @media screen and (min-width: 992px) {
  //   .inner-description__container{
  //     background-color:darkgrey;
  //     height: 35vh;
  //   }
  //   .name-description__container{
  //     height: 35vh;
  //   }
  // }