.inner-description__container{
    width: 40%;
    /* height: 100vh; */
    background-color: aquamarine;
    /* justify-content: center; */
    /* padding-bottom: 6em; */
    /* margin-left: 3em;
    margin-top: 8em; */
  }
  
  .name-description__container{
    /* background-color: beige; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1em 1em;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.637);
    border-left: 2px solid rgba(255, 255, 255, 0.636);
    backdrop-filter: blur(20px);
    user-select: none;
    /* position: relative;   */
    
  }
  
  .name {
    margin-top: 1em;
  }

  .name > h1{
    font-size: 3.5em;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    color: var(--secondary-color);
    font-weight: bold;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 1em;
    color: var(--secondary-color);
  }

  .description p{
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    font-weight: 600;
  }

  /* media querys.................... */

  @media screen and (max-width: 779px) {
    .inner-description__container{
      width: 80%;
    }
    .name-description__container{
      margin: 4em 0;
      height: 200px;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media screen and (min-width: 780px) and (max-width: 991px) {
    .inner-description__container{
      width: 60%;
      height: 100vh;
      background-color: bisque;
    }
    .name-description__container{
      height: 300px;
      margin-top: 25vh;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media screen and (min-width: 992px) {
    .inner-description__container{
      background-color: rgb(13, 142, 99);
    }
  }