@use '/src/sass/components/mirror/mirror-effect' as effect;
@use '/src/sass/layout/flex-boxes' as box;
@use '/src/sass/components/mirror/mirror-container' as container;

.inner-contact-container{
    @include container.mirror-container;
    .contact-card{
        @include box.flex-column-center;
        @include effect.mirror-effect;
        margin-top: 2em;
        height: 90vh;
        width: 100%;
        overflow: hidden;
        .contact-card__header{
            background-color: blanchedalmond;
        }
    }
}

