@use '/src/sass/layout/media-queries' as media;
@use '/src/sass/components/mirror/mirror-effect' as effect;
@use '/src/sass/layout/flex-boxes' as box;
@use '/src/sass/components/mirror/mirror-container' as container;

.tilt-contact-container{
    @include container.mirror-container;
    position: relative;
    top: 0;
    left: 3%;
    @include media.tablet {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
      }
}


.contact-card{
    &__container{
        @include box.flex-column-center;
        @include effect.mirror-effect;
        margin-top: 2em;
        height: 90vh;
        width: 100%;
        overflow: hidden;
        &__header{
            background-color: blanchedalmond;
        }
    }
    
}
