.name-container{
    height: 250px;
    /* min-width: 300px; */
    max-width: 400px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 9, 9);
    margin-left: 7%;
    margin-top: 100px;
    
}