.footer-container{
    width: 100%;
    background-image: url(../../assets/img/bg-purple.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    bottom: 0;
    position: fixed;
    z-index: -1000;
}

.container-center{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    /* padding-top: 200px; */
    height: 100vh;
    width: 100%;
    /* background-color: azure; */
}

.socials{
    height: 100px;
    width: 100%;
    background-color: rgb(127, 168, 255);
}

.responsive-section{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
    /* background-color: aquamarine; */
    width: 100%;
}

.responsive-section .container-left{
    height: 200px;
    width: 44%;
    background-color: rgb(137, 250, 214);
}

.responsive-section .container-right{
    height: 100px;
    width: 44%;
    background-color: rgb(255, 153, 127);
}

