@use '/src/sass/layout/media-queries' as media;
@use '/src/sass/components/smoke/smoke-container' as smoke;


.smoke-section__container{
    @include smoke.smoke-container;
    top: 0;
    padding: 2em 0;
    @include media.tablet {
        margin-top: 110vh;
        width: 80%;
      }
}

