.about-subtitle__container{
    width: 100%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.about-subtitle__h2{
    font-family: var(--secondary-font);
    font-size: 3.5em;
    font-weight: 600;
    color: var(--text-color-light);
    margin: 1em 0;
}