@use '/src/sass/abstracts/variables' as v;


.inner-profile__container{
    width: 35%;
    height: 90vh;
    background-color: azure;
    // position: relative;
}

.profile-card {
    // width: auto;
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    // background: rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.637);
    border-right: 2px solid rgba(255, 255, 255, 0.636);
    backdrop-filter: blur(60px);
    user-select: none;
    position: relative;
}

.profile-card__pic {
  width: 90%;
  height: auto;
  /* object-fit: cover; */
  border-radius: 15px 15px 0 0;
}

.profile-card__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 6px 0;
}

.profile-card__name{
  font-family: v.$secondary-font;
  font-size: 3rem;
  /* font-weight: bold; */
  color: v.$text-color-light;
  margin: 3px 0;
}
 
.profile-card__occupations{
  font-family: v.$paragraph-font;
  font-size: 1.5em;
  color: v.$text-color-light;
  margin: 6px 0;
}


.profile-card__nationality{
  font-family: v.$paragraph-font;
  font-size: 1.5em;
  color: v.$text-color-light;
  margin: 3px 0;
}
