.social-icons{
    min-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* background-color: azure; */
}

.social-icons__item{
    font-size: 32px;
    color: var(--text-color-light);
    margin: auto;
    /* background-color: coral; */
}